.AddButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddButton {
    border-radius: 100vh;

    min-height: 2em;
    min-width: min(9.5em, 148px);

    padding: 0.75em 1em;
    margin: 0;

    border: none;
    justify-content: center;
    background-color: green;

    cursor: pointer;
}
